body {
  display: flex;
  justify-content: center;
  gap: var(--body-gap);
  flex-direction: column;
  padding-inline: 3rem;
  padding-block: var(--body-padding-block);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a:any-link {
  color: currentColor;
  text-decoration-line: none;
}
