.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .add-todo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-block-end: 2px solid black;
    border-block-start: 2px solid black;
    padding-block: 1rem;

    .add-todo__form {
      display: grid;
      gap: 1rem;
      @media screen and (width > 800px) {
        grid-template-columns: 3fr 1fr;
      }

      p {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.25rem;
        font-size: 1.25rem;
        align-items: center;

        #newTodo {
          font-size: 1.25rem;
          inline-size: 100%;
          padding-inline: 0.25rem;
          padding-block: 0.25rem;
          border-radius: var(--border-radius);
          border-inline: 1px dashed var(--text-color);
          border-block: 1px dashed var(--text-color);
          background-color: transparent;
          color: var(--text-color);

          &:focus-visible {
            outline-style: none;
          }
        }
      }
      button[type="submit"] {
        border-radius: var(--border-radius);
        padding-block: 0.5rem;
        font-weight: bold;
        background-color: var(--bg-color);
        box-shadow: 4px 4px 0.5rem black, -4px -4px 0.5rem black,
          -4px 4px 0.5rem black, 4px -4px 0.5rem black;
        cursor: pointer;
        transition: all 0.5s ease-in-out 0s;

        &:hover {
          box-shadow: 4px 4px 0.5rem orangered, -4px -4px 0.5rem orangered,
            -4px 4px 0.5rem orangered, 4px -4px 0.5rem orangered;
        }
      }
    }
  }
  .todos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    #todo-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      li {
        display: flex;
        gap: 0.5rem;
        align-items: baseline;

        input[type="checkbox"] {
          accent-color: orangered;
        }
        button {
          background-color: transparent;
          color: red;
          font-weight: 900;
          cursor: pointer;
          border-inline: 1px solid var(--text-color);
          border-block: 1px solid var(--text-color);
          padding-inline: 0.75rem;
          padding-block: 0.25rem;
          border-radius: var(--border-radius);
          box-shadow: 2px 2px 0.25rem black;
          cursor: pointer;
          transition: all 0.5s ease-in-out 0s;

          &:hover {
            box-shadow: 2px 2px 0.25rem orangered;
          }
        }
      }
    }
  }
}
